# WEB_SCRAPPING_ASSIGNMENT-2

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [9]:
driver=webdriver.Chrome(r"C:\Users\artia\OneDrive\Documents\selenium\chromedriver.exe")

In [10]:
driver.get("https://www.naukri.com/")

In [11]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [12]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [13]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [14]:
job_title=[]
company_name=[]
job_location=[]
experience_required=[]

In [15]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    name=i.text
    company_name.append(name)
    
experience_tags=driver.find_elements(By.XPATH,'//i[@class="fleft icon-16 lh16 mr-4 naukicon naukicon-experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [16]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [17]:
df=pd.DataFrame({"Job_title":job_title,"Location":job_location,"Company":company_name,"Experience":experience_required})
df

,Job_title,Location,Company,Experience
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,
1,Data Analyst,Bangalore/Bengaluru,Jar,
2,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,
3,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,
4,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,
5,HR Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,
6,Senior Data Analyst,Bangalore/Bengaluru,Klub,
7,Sr. SAP Hana Data Analyst,Bangalore/Bengaluru,Anicalls,
8,Business Execution (Data and Reporting Analyst),Bangalore/Bengaluru,Wells Fargo,
9,Data Analyst,"Bangalore/Bengaluru, Mangaluru/Mangalore, Pune...","Coresight Research, Inc.",

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [77]:
driver=webdriver.Chrome(r"C:\Users\artia\OneDrive\Documents\selenium\chromedriver.exe")

In [78]:
driver.get("https://www.naukri.com/")

In [79]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [80]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [81]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [82]:
Title=[]
Location=[]
Company=[]
experience=[]
Salary=[]

In [83]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    T=i.text
    title_tags.append(T)

In [84]:
print(len(title_tags))

30

In [87]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    L=i.text
    location_tags.append(L)

In [88]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    C=i.text
    company_tags.append(C)

In [94]:
exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    E=i.text
    exp_tags.append(E)

In [95]:
print(len(title_tags),len(location_tags),len(company_tags),len(exp_tags))

30 30 30 30

In [96]:
df=pd.DataFrame({"Title":title_tags,"location":location_tags,"company":company_tags,"Experience":exp_tags})
df

,Title,location,company,Experience
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
5,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
6,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
7,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
8,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
9,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
10,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
11,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
12,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
13,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
14,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
15,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
16,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
17,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
18,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
19,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
20,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
21,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,4-7 Yrs
22,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis,9-14 Yrs
23,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
24,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
25,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates,5-8 Yrs
26,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra,10-14 Yrs
27,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group,5-10 Yrs
28,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,4-8 Yrs
29,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart,3-7 Yrs

# Q3

In [67]:
driver=webdriver.Chrome(r"C:\Users\artia\OneDrive\Documents\selenium\chromedriver.exe")

In [68]:
driver.get("https://www.naukri.com/")

In [69]:
role=driver.find_element(By.CLASS_NAME,'suggestor-input')
role.send_keys('Data Scientist')

In [70]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [71]:
title=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title[0:10]:
    t=i.text
    title.append(t)

In [72]:
loc=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc[0:10]:
    l=i.text
    loc.append(l)

In [73]:
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    c=i.text
    company.append(c)

In [74]:
exp=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp[0:10]:
    e=i.text
    exp.append(e)

In [75]:
df=pd.DataFrame({"title":title,"loc":loc,"company":company,"exp":exp})
df

,title,loc,company,exp
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
5,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
6,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
7,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
8,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
9,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
10,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
11,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
12,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
13,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
14,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
15,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
16,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
17,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
18,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
19,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
20,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
21,Data Scientist,Gurgaon/Gurugram,IHS Markit,3-6 Yrs
22,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
23,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
24,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
25,Data Scientist - Mumbai - Immediate Joiner Req...,"Delhi / NCR, Mumbai, New Delhi",HueCanvas Consulting,2-7 Yrs
26,Data Scientist,Noida,NGI Ventures,0-5 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [18]:
driver=webdriver.Chrome(r"C:\Users\artia\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [19]:
driver.get("https://www.flipkart.com/")

In [20]:
product=driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('sunglasses')

In [21]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [22]:
brand=[]

In [23]:
start=0
end=3
for page in range(start,end):
    product=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in product:
        brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [24]:
Description=[]

In [25]:
start=0
end=3
for page in range(start,end):
    des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in des:
        Description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [26]:
Price=[]

In [27]:
start=0
end=3
for page in range(start,end):
    Rate=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Rate:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [28]:
Discount=[]

In [30]:
start=0
end=3
for page in range(start,end):
    Offer=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in Offer:
        Discount.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [31]:
print(len(brand),len(Description),len(Price),len(Discount))

120 120 120 239

In [32]:
df=pd.DataFrame()
df["BRAND"]=brand[:100]
df["PRODUCT_DESCRIPTION"]=Description[:100]
df["DISCOUNT"]=Discount[:100]
df["PRICE"]=Price[:100]
df

,BRAND,PRODUCT_DESCRIPTION,DISCOUNT,PRICE
0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹179,₹631
1,Singco India,"UV Protection, Polarized Round Sunglasses (54)",₹195,₹538
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹179,₹799
3,SHAAH COLLECTIONS,UV Protection Round Sunglasses (54),₹272,₹179
4,LIZA ANGEL,UV Protection Wayfarer Sunglasses (Free Size),"₹1,099",₹199
...,...,...,...,...
95,ROYAL SON,"UV Protection, Polarized Wayfarer Sunglasses (54)",₹599,₹599
96,PIRASO,UV Protection Aviator Sunglasses (58),"₹2,250",₹305
97,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),"₹1,059",₹199
98,PIRASO,UV Protection Rectangular Sunglasses (52),₹538,₹246
99,LIZA ANGEL,"UV Protection Rectangular, Retro Square Sungla...",₹261,₹259

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [33]:
driver=webdriver.Chrome(r"C:\Users\artia\OneDrive\Documents\selenium\chromedriver.exe")

In [34]:
driver.get("https://www.flipkart.com/")

In [35]:
search_item=driver.find_element(By.CLASS_NAME,'_3704LK')
search_item.send_keys('iphone11')

In [36]:
search_button=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_button.click()

In [37]:
Rating=[]

In [38]:
start=0
end=13
for page in range(start,end):
    rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        Rating.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [39]:
Review_summary=[]

In [40]:
start=0
end=13
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        Review_summary.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [41]:
Full_review=[]

In [42]:
start=0
end=13
for page in range(start,end):
    review_F=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review_F:
        Full_review.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [43]:
df2=pd.DataFrame()
df2["RATINGS"]=Rating[:100]
df2["Review_Summary"]= Review_summary[:100]
df2["FULL_REVIEW"]=Full_review[:100]
df2

,RATINGS,Review_Summary,FULL_REVIEW
0,5,Perfect product!,After using 3 years mobile review. Excellent &...
1,5,Terrific,I am using the phone for last 5 years and foun...
2,5,Iphone 5S review,Well the iPhone 5S is here ! its the best iPho...
3,4,Worthless,There was defect in camera lens
4,5,Good quality product,impressively Nice......\nOne of the greatest i...
...,...,...,...
95,5,Perfect product!,Nice products thanks flkat
96,5,Good phone but not for the power user,Apple's iPhone series have been known for thei...
97,5,Super!,This review is after 6 year of purchasing this...
98,5,Simply awesome,Really satisfied with the Product I received.....
99,4,Don't waste your money,Very bad mic within 2 days my phone mic is not...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [44]:
driver=webdriver.Chrome(r"C:\Users\artia\OneDrive\Documents\selenium\chromedriver.exe")

In [45]:
driver.get("https://www.flipkart.com/")

In [46]:
search_item=driver.find_element(By.CLASS_NAME,'_3704LK')
search_item.send_keys("sneakers")

In [47]:
Search_button=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
Search_button.click()

In [48]:
Brand_name=[]

In [49]:
start=0
end=4
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        Brand_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [50]:
Description=[]

In [51]:
start=0
end=4
for page in range(start,end):
    des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in des:
        Description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [52]:
Price=[]

In [53]:
start=0
end=4
for page in range(start,end):
    rate=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in rate:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [54]:
Discount=[]

In [55]:
start=0
end=4
for page in range(start,end):
    offer=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in offer:
        Discount.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [56]:
df3=pd.DataFrame()
df3['BRANDS']=Brand_name[:100]
df3['DESCRIPTION']=Description[:100]
df3['RRICE']=Price[:100]
df3['DISCOUNT']=Discount[:100]
df3

,BRANDS,DESCRIPTION,RRICE,DISCOUNT
0,TR,Sneakers For Men,₹338,77% off
1,EZDEZARIO,"Canvas Casual Sneakers For Walking,Running,Gym...",₹499,71% off
2,BRUTON,Modern Trendy Shoes Sneakers For Men,₹470,63% off
3,RED TAPE,Sneakers For Men,"₹1,499",70% off
4,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹259,56% off
...,...,...,...,...
95,RED CHIEF,"Casuals, Canvas, Partywear Sneakers For Men",₹267,52% off
96,Deals4you,Sneaker Sneakers For Men,₹478,61% off
97,Magnolia,Synthetic Leather Sneakers For Men,₹389,55% off
98,Rzisbo,Exclusive Affordable Collection of Trendy & St...,₹449,45% off
99,BOLTAGO,Sneakers Sneakers For Men,"₹2,364",45% off

# Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter  and Color filter to “Black”, as shown in the below image.

In [73]:
driver=webdriver.Chrome(r"C:\Users\artia\OneDrive\Documents\selenium\chromedriver.exe")

In [74]:
driver.get("https://www.myntra.com/shoes")

In [77]:
price_filter=driver.find_elements(By.XPATH,"//label[@class='common-customCheckbox vertical-filters-label']")
price_filter[7].click()

In [79]:
color_filter=driver.find_elements(By.XPATH,'//label[@class="common-customCheckbox"]')
color_filter[0].click()

In [80]:
brand=[]
start=0
end=6
for page in range(start,end):
    brand_name=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand_name:
        brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-number"]')
    next_button.click()
    time.sleep(3)

In [81]:
Price=[]
start=0
end=6
for page in range(start,end):
    rate=driver.find_elements(By.XPATH,'//span[@class="product-discountedPrice"]')
    for i in rate:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-number"]')
    next_button.click()
    time.sleep(3)

In [82]:
description=[]
start=0
end=6
for page in range(start,end):
    des=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in des:
        description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-number"]')
    next_button.click()
    time.sleep(3)

In [83]:
df4=pd.DataFrame()
df4["BRAND_NAME"]=brand[:100]
df4["DESCRIPTION"]=description[:100]
df4["PRICE"]=Price[:100]
df4

         BRAND_NAME                        DESCRIPTION      PRICE
0          Skechers          Men Go Walk Walking Shoes   Rs. 6374
1          Skechers          Men GO WALK - TERRA Shoes   Rs. 8499
2              Puma        Men Fuse 2.0 Training Shoes   Rs. 6399
3            ADIDAS      Men 4DFWD_Pulse Running Shoes  Rs. 11199
4          Skechers     Men Go Run Hyper Burst Running   Rs. 7224
..              ...                                ...        ...
95  PUMA Motorsport            Men PL RDG Cat Sneakers   Rs. 6999
96             Puma              Women Enlighten Shoes   Rs. 5999
97           ADIDAS           Women EQ21 Running Shoes   Rs. 7199
98     Hush Puppies  Men Solid Leather Formal Slip-Ons   Rs. 7999
99   Tommy Hilfiger               Men Leather Sneakers   Rs. 6399

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” as shown in the below image:

In [84]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [85]:
driver=webdriver.Chrome(r"C:\Users\artia\OneDrive\Documents\selenium\chromedriver.exe")

In [86]:
url="https://www.amazon.in/"
driver.get(url)

In [87]:
driver.maximize_window()

In [88]:
search_col=driver.find_element(By.XPATH,"//input[@class='nav-input nav-progressive-attribute']")
search_col.send_keys('laptop')

In [89]:
search_button=driver.find_elements(By.XPATH,"//input[@class='nav-input nav-progressive-attribute']")

In [90]:
search_button[1].click()

In [91]:
title_el=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title=[]
for i in title_el[:10]:
    title.append(i.text)
title

['Acer Extensa 15 Lightweight Laptop 11th Gen Intel Core i3 Processor with 15.6" (39.6 cms) Full HD Display- (8 GB RAM/256GB SSD/Windows 11 Home/Intel UHD Graphics /1.7Kg/Black) EX215-54',
 'HP 15s, 11th Gen Intel Core i3, 8GB RAM/512GB SSD 15.6-inch(39.6 cm) Micro-Edge Anti-Glare FHD Laptop/Alexa Built-in/Win 11/Intel UHD Graphics/Dual Speakers/ MS Office 2021/1.69 Kg, 15s-fr2511TU',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, AMD Ryzen 3 3200U, Thin and Laptop (8GB/512GB SSD/Integrated Graphics/Windows 11/Office 2021/Silver/1.68 kg), X512DA-BQ311WS',
 '(Renewed) Lenovo Thinkpad E480 7th Gen Intel Core i3 Thin & Light HD Laptop (8 GB DDR4 RAM/500 GB HDD/14" (35.6 cm)/Windows 10/WiFi/Bluetooth 4.0/Webcam/Intel HD Graphics)',
 'ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W',
 'Lenovo IdeaPad Slim 1 AMD Ryzen 3 3250U 15.6" (39.62cm) FHD Thin & Light Laptop (8GB/512GB SSD/Windows 11/Office 2021/3months Game Pass/Cloud Grey/1.6Kg), 82R10049IN',
 'ASUS Vivobook 15, 15.6" (39.62 cm) FHD, AMD Dual Core Ryzen 3 3200U, Thin and Light Laptop (8GB/256GB SSD/Integrated Graphics/Windows 11/Office 2021/Silver/1.68 Kg), X512DA-BQ301WS',
 '(Renewed) Dell Latitude E5470 Intel Core i5 6th Gen.6200u Processor 14.1 Inches HD Screen Notebook Computer (8 GB Ram & 256 GB SSD, Windows 10 Pro, 1.71Kg)',
 "Lenovo IdeaPad Slim 1 Intel Celeron N4020 4th Gen 11.6'' (29.46cm) HD Thin & Light Laptop (4GB/256GB SSD/Windows 11/Office 2021/3months Game Pass/Platinum Grey/1.2Kg), 81VT009UIN",
 'Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th Gen 15.6" (39.62cm) HD Thin & Light Laptop (8GB/256GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Platinum Grey/1.7Kg), 81WQ00MQIN']

In [92]:
price_el=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
price=[]
for i in price_el[:10]:
    price.append(i.text)
price

['38,990',
 '42,990',
 '37,999',
 '32,990',
 '38,990',
 '26,990',
 '19,599',
 '25,990',
 '21,990',
 '32,390']

In [94]:
url2=driver.find_elements(By.XPATH,'//a[@class="a-link-normal a-text-normal"]')

rating_url=[]
for i in url2[:10]:
    rating_url.append(i.get_attribute('href'))
rating_url

['https://aax-eu.amazon.in/x/c/RAp9brui6jpnjBPQup926C0AAAGDmET-3QMAAAH2AQBOL0EgICAgICAgICAgICBOL0EgICAgICAgICAgICCjy1eb/https://www.amazon.in/dp/B0B93HNW44?pd_rd_i=B0B93HNW44&pf_rd_p=d882f7bc-c7c5-4887-b939-1af6f91cc448&pf_rd_r=QWEX2NEQYH0MJXNCS2BR&pd_rd_wg=p3f6R&pd_rd_w=Vpoks&pd_rd_r=0c1b1ada-badd-4ad2-a31f-b06da771f17a',
 'https://aax-eu.amazon.in/x/c/RMutKYhY9v3sp0d5mxYu5rsAAAGDmET-3gMAAAH2AQBOL0EgICAgICAgICAgICBOL0EgICAgICAgICAgICD6MC3h/https://www.amazon.in/dp/B0B93HNW44?pd_rd_i=B0B93HNW44&pf_rd_p=d85289ff-7b04-49b7-8f39-1b9f677610ec&pf_rd_r=QWEX2NEQYH0MJXNCS2BR&pd_rd_wg=KOLTB&pd_rd_w=tXNbv&pd_rd_r=ed9fb555-204b-45a7-819b-99b9d805c7b1']

In [95]:
rating=[]
for i in rating_url[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        
        ratings = driver.find_element(By.XPATH,".//span[@class='a-icon-alt']/..")
        ratings = ratings.get_attribute('innerHTML').split(">")[1].split(" ")[0]
        rating.append(ratings)
    except:
        
        
        rating.append("00")
rating

['5.0', '5.0']

In [96]:
laptop_df=pd.DataFrame()
laptop_df['TITLE']=title[:10]
laptop_df['PRICE']=price[:10]
laptop_df

                                               TITLE   PRICE
0  Acer Extensa 15 Lightweight Laptop 11th Gen In...  38,990
1  HP 15s, 11th Gen Intel Core i3, 8GB RAM/512GB ...  42,990
2  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, A...  37,999
3  (Renewed) Lenovo Thinkpad E480 7th Gen Intel C...  32,990
4  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...  38,990
5  Lenovo IdeaPad Slim 1 AMD Ryzen 3 3250U 15.6" ...  26,990
6  ASUS Vivobook 15, 15.6" (39.62 cm) FHD, AMD Du...  19,599
7  (Renewed) Dell Latitude E5470 Intel Core i5 6t...  25,990
8  Lenovo IdeaPad Slim 1 Intel Celeron N4020 4th ...  21,990
9  Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th ...  32,390

In [97]:
#there is some problem in applying filter
#there is problem scrapping the ratings data.

# Q10: Write a python program to scrape the salary data for Data Scientist designation.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [98]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [99]:
driver=webdriver.Chrome(r"C:\Users\artia\OneDrive\Documents\selenium\chromedriver.exe")

In [100]:
driver.get("https://www.ambitionbox.com/")

In [101]:
salary=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]')
salary.click()

In [102]:
search_sal=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]')
search_sal.click()

In [103]:
job=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
job.send_keys("Data Scientist")
job.click()

In [104]:
job=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')
job.click()

In [107]:
company_name=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
company=[]
for i in company_name[:10]:
    c=i.text
    company.append(c)
    
experience_req=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
experience=[]
for i in experience_req[:10]:
    E=i.text
    experience.append(E)
    
sal_rec=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
Record=[]
for i in sal_rec[:10]:
    E=i.text
    Record.append(E)
   
Avg=driver.find_elements(By.XPATH,'//div[@class="salary-values"]')
Avg_Sal=[]
for i in Avg[:10]:
    E=i.text
    Avg_Sal.append(E)
    
minimum=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
MIN=[]
for i in minimum[:10]:
    m=i.text
    MIN.append(m)
    
maximum=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
MAX=[]
for i in maximum[:10]:
    M=i.text
    MAX.append(M)

In [108]:
df6=pd.DataFrame()
df6["COMPANY"]=company
df6["EXPERIENCE"]=experience
df6["SALARY_RECORD"]=Record
df6["AVERAGE_SALARY"]=Avg_Sal
df6["MINIMUN_SALARY"]=MIN
df6["MAXIMUM_SALARY"]=MAX
df6

,COMPANY,EXPERIENCE,SALARY_RECORD,AVERAGE_SALARY,MINIMUN_SALARY,MAXIMUM_SALARY
0,Walmart\nData Scientist Salary\n3-4 yrs experi...,3-4 yrs experience (based on 24 salaries),(based on 24 salaries),₹ 25.0L\n₹ 45.0L,₹ 25.0L,₹ 25.0L
1,Ab Inbev\nData Scientist Salary\n2-4 yrs exper...,2-4 yrs experience (based on 59 salaries),(based on 59 salaries),₹ 15.0L\n₹ 26.0L,₹ 45.0L,₹ 45.0L
2,Optum\nData Scientist Salary\n2-4 yrs experien...,2-4 yrs experience (based on 49 salaries),(based on 49 salaries),₹ 11.0L\n₹ 22.6L,₹ 15.0L,₹ 15.0L
3,ZS\nData Scientist Salary\n1-2 yrs experience ...,1-2 yrs experience (based on 35 salaries),(based on 35 salaries),₹ 11.0L\n₹ 22.0L,₹ 26.0L,₹ 26.0L
4,Fractal Analytics\nData Scientist Salary\n2-4 ...,2-4 yrs experience (based on 118 salaries),(based on 118 salaries),₹ 9.0L\n₹ 23.0L,₹ 11.0L,₹ 11.0L
5,Sigmoid Analytics\nData Scientist Salary\n1 yr...,1 yr experience (based on 10 salaries),(based on 10 salaries),₹ 12.7L\n₹ 19.7L,₹ 22.6L,₹ 22.6L
6,Tiger Analytics\nData Scientist Salary\n2-4 yr...,2-4 yrs experience (based on 70 salaries),(based on 70 salaries),₹ 9.0L\n₹ 20.0L,₹ 11.0L,₹ 11.0L
7,Legato Health Technologies\nData Scientist Sal...,4 yrs experience (based on 11 salaries),(based on 11 salaries),₹ 11.0L\n₹ 20.0L,₹ 22.0L,₹ 22.0L
8,HSBC\nData Scientist Salary\n4 yrs experience ...,4 yrs experience (based on 10 salaries),(based on 10 salaries),₹ 12.0L\n₹ 18.0L,₹ 9.0L,₹ 9.0L
9,Tredence\nData Scientist Salary\n3 yrs experie...,3 yrs experience (based on 14 salaries),(based on 14 salaries),₹ 8.8L\n₹ 17.5L,₹ 23.0L,₹ 23.0L

# THE END